<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393844494007-vm5sct8snbo9vk57jvv3v3gudq1s2ptg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393844494007-vm5sct8snbo9vk57jvv3v3gudq1s2ptg</string>
	<key>API_KEY</key>
	<string>AIzaSyDk7Zsmp6jrHNpn-wxe6zAujVZCnA6Fw9A</string>
	<key>GCM_SENDER_ID</key>
	<string>393844494007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.magme.InstaClonev1</string>
	<key>PROJECT_ID</key>
	<string>instaclone-ecc3b</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-ecc3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:393844494007:ios:34f8f6acd503a4a7744732</string>
	<key>DATABASE_URL</key>
	<string>https://instaclone-ecc3b.firebaseio.com</string>
</dict>
</plist>
